body {
  background-color: rgba(230, 227, 227, 0.466);
  margin: 0;
  font-family: sans-serif;
}

@media (max-width: 750px) {
  body {
    background-color: rgba(230, 227, 227, 0.466);
  }
 
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.search-wrapper {
  width: 100%;
  max-width: 500px; /* limits button from stretching too far */
  margin: 0 16px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-button {
  flex: 1; /* button fills container */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}

.search-button i {
  margin-right: 8px;
  font-size: 16px;
  color: black;
}

.menu-tabs{
  display: flex;
  justify-content: center;
  background-color: white;
  padding:12px 0;
  border-top:1px solid #ddd;
  box-shadow:0 -1px 4px rgb(0 0 0 0.05)
}

.tab{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color:#ddd;
  position: relative;
}