* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

/* mobile header */
.mobile-header {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-header .btn {
    width: 100%;
    min-height: 56px;
    margin: 12px 24px 0px;
    border-radius: 40px;
    color: black;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    padding: 16px calc(64px - var(--homepage-font-ratio-increase, 0) * 42px) 0;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.08);
}



.menu-header-tabs {
    min-width: 68px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    position: relative;
}

.menu-header-tabs:nt-child(1) span {
    border-bottom: 3px solid black;
    font-weight: 600;
}

.menu-header-tabs video {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

.menu-header-tabs span {
    font-size: 12px;
    position: relative;
    top: -17px;
    color: #6a6a6a;
    padding-bottom: 2px;
}

span.badge {
    padding: 3px 6px;
    border-radius: 10px 10px 10px 2px;
    font-size: 8px;
    color: #ffffff;
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg, #3e567c 1.59%, #3a5475 21.23%, #2d3c5b 58.6%, #809dc0 97.4%);
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.32;
    position: absolute;
    top: 10px;
    left: 55px;

}

/* mobile screen header ended */



/* large-screen-header */
@media (max-width:744px) {
    .large-screen-header {
        display: none;
    }
}

.large-screen-header {
    width: 100%;
    background: linear-gradient(180deg, #ffffff 0%, #f8f8f8 100%);
}

.largest-screen {
    display: none;
}

.large-screen-header-main {

    flex-direction: column;
    max-width: 97%;
    margin: 0 3%;
}

.large-screen-header-full {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}

.large-header-mid {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: center;
    gap: 35px;
    position: relative;
    margin:8px 0 0;
}

.menu-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 46px;
}
.menu-tab div:first-of-type{
    transform: scale(1.33);
    transform-origin: center bottom;
}
.menu-tab video{
    height: 36px;width:36px;
    transform: scale(1.5);
}
.badges{
     padding: 3px 6px;
    border-radius: 10px 10px 10px 2px;
    font-size: 8px;
    color: #FFFFFF;
    background: linear-gradient(357.5deg, #3e567c 1.59%, #3a5475 21.23%, #2d3c5b 58.6%, #809dc0 97.4%);
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: 0.32px;
    position: absolute;
    top: -10px;
    left: 37px;
}
.menu-tab span{
    font-size:14px;
    color:#6A6A6A;
    padding-bottom:2px;
    font-weight:600px;
}

.menu-tab:nth-child(1) span{
    color:black;
    position: relative;
    bottom:5px;
    margin-left:16px;
}

.menu-tab:nth-child(1) {
    border-bottom:3px solid black;
}

.menu-tab:nth-child(2) span{
    position: relative;
    bottom:7px;
    font-weight: 400;
    margin-left:8px;
}

.menu-tab:nth-child(3) span{
    position:relative;
    bottom:6px;
    font-weight:400;
    margin-left:12px;
}

/* .large-screen-header-full div:nth-child(1){
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding-left:2px;
} */

/* .large-screen-header-full.div:nth-child(1) svg:nth-child(2){
    display: none;
} */

.large-header-right{
    display:flex;
    justify-content: flex-end;
    gap:12px;
    align-items:center;
}

.large-header-right p{
    display:none;
    font-size:14px;
    color:#222222;
    margin-right:12px;
}

.large-header-right div{
    background-color: #f2f2f2;
    display:flex;
    justify-content: center;
    align-items:center;
    height:40px;
    width:40px;
    border-radius:50%;
}


.search-filter-bar{
    display: flex;
    justify-content: center;
    padding:12px 0 42px 0 ;
    width:100%;
}

.partition{
    width:1px;
    height:32px;
    background-color: #dddddd;
    margin-top:16px;
}

.input-containers{
    width:100%;
    max-width:850px;
    height:66px;
    border-radius: 32px;
    display:grid;
    grid-template-columns: minmax(0,2fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0,2fr);
    gap:2px;
    background-color:#ffffff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border:1px solid rgba(0, 0, 0, 0.1)
}

.input-options{
    line-height: 1.1rem;
}

.input-options:nth-child(1){
    padding:15px 32px;
}

.input-options:nth-child(3){
    padding:15px 24px;
}

.input-options:nth-child(5){
    padding: 15px 24px;
}

.input-options:nth-child(7){
    padding: 15px  24px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.search-btn{
        display: flex;
        position:absolute;
        border-radius: 50px;
        opacity: 1;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background:transparent;
        background-color:#FF385C;
        width:48px;
        height:48px;
        right:10px;
        top:9px;
        /* padding:10px; */
}



.input-options div:nth-child(1){
    font-size:12px;
    color:#222222;
    font-weight:500;
    margin-bottom:2px;
}

.input-options div:nth-child(2){
    font-size: 0.875rem;
    color:#6a6a6a;
    font-weight:400;
}

@media (min-width:744px) {

    .mobile-header,
    .menu-header {
        display: none;
    }
    .large-screen-header-full div:nth-child(1) svg:nth-child(2){
        display: none;
    }

    .large-screen-header-main{
        display: flex;
    }

    .large-screen-header{
        border-bottom:1px solid rgba(0, 0, 0, 0.1)
    }
}

@media(min-width:949px){
    .large-screen-header-full div:nth-child(1) svg:nth-child(1){
        display:none;
    }

    .large-screen-header-full div:nth-child(1) svg:nth-child(2){
        display: block;
    }
}

@media (min-width:1128px){
    .large-header-right p{
        display: block;
    }
}

@media(min-width:1439px){
    .search-filter-bar{
        justify-content: center;
        padding:13px 0 31px 0;
        width:100%;
    }
}