        *{
            margin:0;
        }
        .body{
            font-family: 'roboto';
            margin: 0;
        }
        .popular-homes-section{
              
              margin:0;
        }
        .popular-homes-section h3{
            padding: 20px;
            font-family: 'roboto';
        }

        .homes-slider {
            display: flex;
            gap: 1rem;
            padding-left: 20px;
            overflow-x: auto;
            scroll-snap-type: x mandatory; 
        }

        .home-card {
            font-family: 'roboto';
            flex: 0 0 calc(51% - 2rem);
            display: flex;
            flex-direction: column;
            
             
        }

        .img-wrapper {
            aspect-ratio: 4 / 3;
            /* ensures responsive image height */
            overflow: hidden;
            border-radius: 12px 12px;
        }

        .img-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .badge-text {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.863);
            color: rgb(0, 0, 0);
            font-size: 12px;
            padding: 5px 9px;
            border-radius: 15px;
            top: 15px;
            left: 10px;
            width: 65px;
        }

        .heart img {
            position: absolute;
            font-size: 25px;
            width: 21px;
            height: 21px;
            fill: #222222;
        }

        .home-card h4 {
            font-family: 'roboto';
            font-size: 14px;
            margin: 0.5rem 0 0.2rem;
            text-align: left;
            color: #222222;
        }

        .home-card p {
            font-family: 'roboto';
            margin: 0;
            padding-bottom: 10px;
            color: #717171;
            font-size: 12px;
        }

        .homes-slider {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
