        * {
            margin: 0;
        }

        .body {
            font-family: 'roboto';
            margin: 0;
        }

        .popular-homes-section {

            margin: 0;
        }

        .popular-homes-section h3 {
            padding: 20px;
            font-family: 'roboto';
        }

        .homes-slider {
            display: flex;
            gap: 1rem;
            padding-left: 20px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }

        .home-card {
            position: relative;
            font-family: 'roboto';
            flex: 0 0 calc(51% - 1.8rem);
            display: flex;
            flex-direction: column;
        }

        .img-wrapper {
            aspect-ratio: 4 / 3;
            /* ensures responsive image height */
            overflow: hidden;
            border-radius: 12px 12px;
             max-height: 100em!important;
        }

        .img-wrapper img {
            width: 100%;

            object-fit: cover;
            display: block;
        }

        .badge-text {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.863);
            color: rgb(0, 0, 0);
            font-size: 12px;
            padding: 5px 9px;
            border-radius: 15px;
            top: 15px;
            left: 10px;
            width: 65px;
        }

        .heart {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            padding: 0;
            cursor:pointer;
            z-index: 2;
        }

        .heart img {
            width: 20px;
            height: 20px;
        }

        .home-card h4 {
            font-family: 'roboto';
            font-size: 14px;
            margin: 0.5rem 0 0.2rem;
            text-align: left;
            color: #222222;
        }

        .home-card p {
            font-family: 'roboto';
            margin: 0;
            padding-bottom: 10px;
            color: #717171;
            font-size: 12px;
        }

        .homes-slider {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }





        /* code for other screen size */
        /* Tablet and Small Desktops */
@media (min-width: 600px) {
  .home-card {
    flex: 0 0 45%;
  }
}

/* Medium Desktops */
@media (min-width: 768px) {
  .home-card {
    flex: 0 0 30%;
  }
}

/* Larger Screens */
@media (min-width: 1024px) {
  .home-card {
    flex: 0 0 28%;
  }
}

/* For peeking effect on small screens */
@media (max-width: 599px) {
  .homes-slider {
    padding-right: 1.5rem;
  }
  .home-card {
    flex: 0 0 calc(100% - 4rem);
  }
}